header {
  width: 100%;
	height: 100%;
  padding: 15px 0 8px 0;
  top: 15px;
  z-index: 200; 
	background-image:url("../images/nav.jpg") no-repeat; 
}
.branding{
	margin-top: 36px;
  background: url("../images/logo.svg") no-repeat;
 width: 170px;
 height: 40px;
  float: left;
  display: block;
  text-indent: -999999em;
}
nav{
  margin-top: 30px;
  float: right;
	
}
nav ul{
list-style-type: none;
text-align: right;
}

nav li{
  font-weight: 900;
  font-size: .8em;
  letter-spacing: .1em;
  text-transform: uppercase;
  display: inline-block; 
  padding-left: 20px;
  cursor: pointer;
  color: #FFFFFF;
}

nav li a:link{
  color: #FFFFFF;
  text-decoration: none; 
}

nav li a:visited{
  color: #FFFFFF;
  text-decoration: none; 
}
nav li a:hover{
  color: #000000;
  text-decoration: none; 
}
nav li a:active{
  color: #FFFFFF;
  text-decoration: none; 
}

.header-items{
	z-index: 7;
	
	}

.text-overlay{
	text-align: right;
	position: inherit;
	color: #FFFFFF;
}

.home {
	display:inline;
	position:relative;
	width: 100%;
	margin-top: -500px;
	margin-bottom: -20px;
	height: 980px;
	background-size:cover no-repeat; 
	background-position: center;
	text-align: right;
	color: #FFFFFF;
	float: left;

}
video#home {
position: relative;
top: 30%;
left: 50%;
display: block;
width: 100%;
height: 950px;
z-index: -100;
-ms-transform: translateX(-50%) translateY(-40%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-40%);
	transform: translateX(-50%) translateY(-40%);
background-size: cover;
}



.drop-down {
	background: url(../images/drop-down.png) no-repeat;
	position:relative;
	float: left;
	top: 500px;
	left: 900px;
	height: 62px;
	width: 62px;
	display: inline-block;
	cursor: pointer;
}
.drop-up {
	background: url(../images/drop-up.png) no-repeat;
	float: right;
	height: 62px;
	display: inline-block;
	width: 100%;
	z-index: 3;
}
.home, .news, .campaign, .about, .contact {
  width: 100%;
  padding: 200px 0;
float: left;
}

.quote {
	width: 100%;
	
	padding: 100px 0px 100px 0px;
	float: left;
	background-color: #262626;
	position: relative;
	margin: 0;


}
.quote-box {
	width: 100%;
	position: relative;
	color: #ffffff;
	margin-left: 120px;

}
.qoute-svg-l{
	background: url(../images/quotes-l.svg) no-repeat;
	position: absolute;
	width: 50px;
	left: -60px;
	top: 6px;
	height: 114px;
	z-index: 2;
}
.qoute-svg-r{
	background: url(../images/quotes-r.svg) no-repeat;
	position: absolute;
	width: 50px;
	left: 668px;
	top: 80px;
	height: 114px;
	z-index: 2;
}
.creative{
	color: #6b9f6d;
	
}

.about {
	background: url(../images/about.jpg) no-repeat;
	  width: 100%;
	height: 539px;
	  background-size: cover; 
	  background-position: center;
	  float: left;
	background-color: #E8DCCA;

}

.copy{
	width: 100%;
	float: left;
	background-color: #E8DCCA;
	padding: 50px 40px 50px 0;
}



.history{
	width: 100%;
	background-color: #262626;
	float: left;
	padding-top: 50px;
}

.timeline{
	width: 100%;
}
.discography{
	width: 100%;
	background-color: #85B591;
	color: #ffffff;
	padding-top: 100px;
	float: left;
	padding-bottom: 100px;
}
.discography h3{
	margin-top: 4px;
	margin-bottom: 7px;
}


.videos{
	width: 100%;
	background: url(../images/bg.jpg) no-repeat;
	padding-top: 100px;
	float:left;
	padding-bottom: 100px;
	background-size: cover;
	

}

.events{
	width: 100%;
	padding-top: 100px;
	float: left;
	background: url(../images/events.jpg) no-repeat;
	color: #ffffff;
	background-size: cover;
	padding-bottom: 100px;
}

.events button{
  border: 2px solid black;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: left;
}

.store{
	padding-top: 100px;
	width: 100%;
	float: left;
	padding-bottom: 100px;
	background: #E8DCCA;
}

.footer-distributed{
	width: 100%;
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	text-align: left;
	padding: 50px 60px 40px;
	margin-top: 80px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}



.footer-distributed h3{
	color:  #ffffff;
	margin: 0 0 10px;
}


/* Footer links */


.footer-distributed .footer-links a{
	display:inline-block;
	text-decoration: none;
	color:  inherit;
}


/* Footer social icons */

.social-icons li {
	foat: left;
	list-style-type: none;
	color: #ffffff;
	padding-right: 10px;
	margin-top: 10px;
	display: inline-block;
	padding-left: 0;
}
.social-icons a:link {
	text-decoration: none;
	cursor: pointer;
}
.social-icons ul li a:visted {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}
.social-icons ul li a:hover {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}
.social-icons ul li a:active {
	color: #ffffff;
}
.fa-facebook-square, .fa-twitter-square, .fa-instagram {
	color: #ffffff;
	font-size: 1.9em;
	justify-content: left;

}

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;
	width: 450px;
	padding: 18px;
}

.footer-distributed{
	color:  #5c666b;
}

.footer-distributed {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
	margin-top: 10px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}


@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}

.arrow {
  text-align: center;
  margin:  0;
	text-decoration: none;
		cursor: pointer;

}
.arrow a{
  text-align: center;
  margin:  0;
	cursor: pointer;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.more{
	  position:inherit;
	padding:14px;
	margin: 0px;
	border:2px #ffffff solid;
	float:left;
	color: #FFFDFD;
	cursor:pointer;
	text-transform:uppercase;
	transition:  color 0.4s,;
		 vertical-align: middle;

}

.products {
  width: 100%;
  float: left;
  padding: 100px 0;
	
	
}

.carousel {
	
}
.price{
	text-align: right;
	font-weight: 600;
}
.music-head{
	font-weight: 600;
}
.carousel-cell{
  width:30%;
  height:420px;
  margin-right:80px;
counter-increment: gallery-cell;
  text-align: left;

}
.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}


