header {
  width: 100%;
  padding: 15px 0 8px 0;
  position: fixed;
  top: 15px;
  z-index: 500; 
}
.branding{
	margin-top: 36px;
  background: url("../images/logo.svg") no-repeat;
 width: 170px;
 height: 30px;
  float: left;
  display: block;
  text-indent: -999999em;
}
nav{
  margin-top: 30px;
  float: right;
}
nav ul{
list-style-type: none;
text-align: right;
}

nav li{
  font-weight: 900;
  font-size: .8em;
  letter-spacing: .1em;
  text-transform: uppercase;
  display: inline-block; 
  padding-left: 20px;
  cursor: pointer;
  color: #FFFFFF;
}

nav li a:link{
  color: #FFFFFF;
  text-decoration: none; 
}

nav li a:visited{
  color: #FFFFFF;
  text-decoration: none; 
}
nav li a:hover{
  color: #000000;
  text-decoration: none; 
}
nav li a:active{
  color: #FFFFFF;
  text-decoration: none; 
}



.home {
	display: block;
	width: 100%;
	height: 830px;
	background: url("../images/Hero.jpg") no-repeat;
	background-size: cover; 
	background-position: center;
	text-align: right;
	color: #FFFFFF;
	float: left;


}

.home, .news, .campaign, .about, .contact {
  width: 100%;
  padding: 200px 0;
float: left;
}

.quote {
	width: 100%;
	padding: 100px 0;
	float: left;
	background-color: #262626;
	position: relative;
}
.quote-box {
	width: 717px;
	margin: 0 auto;
	color: #ffffff;
	display: block;

}
.qoute-svg-l{
	background: url(../images/quotes-l.svg) no-repeat;
	position: absolute;
	width: 50px;
	left: 435px;
	top: 108px;
	height: 114px;
	z-index: 2;
}
.qoute-svg-r{
	background: url(../images/quotes-r.svg) no-repeat;
	position: absolute;
	width: 50px;
	left: 1168px;
	top: 173px;
	height: 114px;
	z-index: 2;
}
.creative{
	color: #6b9f6d;
	
}

.about {
	background: url(../images/about.jpg) no-repeat;
	  width: 100%;
	height: 539px;
	  background-size: cover; 
	  background-position: center;
	  float: left;
	background-color: #E8DCCA;

}

.copy{
	width: 100%;
	float: left;
	background-color: #E8DCCA;
	padding: 40px 40px 0 0;
}



.history{
	width: 100%;
	background-color: #262626;
}
.headroom {
    transition: -webkit-transform 200ms linear;
    transition: transform 200ms linear;
    transition: transform 200ms linear, -webkit-transform 200ms linear;
}
.headroom--pinned {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
}
.headroom--unpinned {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
}

